:root {
    --primeira-cor: "";
    --segunda-cor: "";

    
    --borda: "69fff1"
    
    --fundo: "63d471";
    --text: "63a46c"
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(62, 64, 66);
    color: rgb(251, 251, 250);
    font-size: 30px;
}

h1 {
    color: rgb(144, 26, 26);
}